asgiref
attrs==19.3.0
coveralls>=1.6.0
channels>=2.0
channels-redis
daphne
Django>=2.0
django-bootstrap4
django-redis
dpd-static-support>=0.0.4
grip
pandas
pylint
pytest>=4.6
pytest-django
pytest-cov
python-coveralls
pytz
redis
sphinx
sphinx-autobuild
sphinx_rtd_theme
twine
whitenoise

