alabaster==0.7.10
argh==0.26.2
asgiref==2.3.2
async-timeout==2.0.1
attrs==18.1.0
autobahn==18.6.1
Automat==0.6.0
Babel==2.5.3
certifi==2018.4.16
channels==2.1.2
chardet==3.0.4
click==6.7
constantly==15.1.0
daphne==2.2.0
dash==0.21.1
dash-core-components==0.22.1
dash-html-components==0.10.1
dash-renderer==0.12.1
decorator==4.3.0
Django==2.0.5
docopt==0.6.2
docutils==0.14
Flask==1.0.2
Flask-Compress==1.4.0
grip==4.5.2
hyperlink==18.0.0
idna==2.6
imagesize==1.0.0
incremental==17.5.0
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
livereload==2.5.2
Markdown==2.6.11
MarkupSafe==1.0
nbformat==4.4.0
packaging==17.1
path-and-address==2.0.1
pathtools==0.1.2
pkginfo==1.4.2
plotly==2.5.1
port-for==0.3.1
Pygments==2.2.0
pyparsing==2.2.0
pytz==2018.4
PyYAML==3.12
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.4
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.3.1
sphinxcontrib-websupport==1.0.1
tornado==5.0.2
tqdm==4.23.3
traitlets==4.3.2
twine==1.11.0
Twisted==18.4.0
txaio==2.10.0
urllib3==1.22
watchdog==0.8.3
Werkzeug==0.14.1
zope.interface==4.5.0
