coveralls>=1.6.0
channels>=2.0
channels-redis
daphne
Django>=2.0,<2.3
django-bootstrap4
django-redis
dpd-static-support>=0.0.4
grip
pandas
pylint
pytest>=3.6
pytest-django
pytest-cov
python-coveralls
pytz
redis
sphinx
sphinx-autobuild
twine
whitenoise

