dash==0.21.1
dash-core-components==0.24.1
dash-html-components==0.11.0
dash-renderer==0.12.1
plotly
dpd-components
channels>=2.0
channels-redis
daphne
Django>=2.0
django-bootstrap4
django-redis
grip
pandas
pylint
pytest
pytest-django
pytest-cov
pytz
redis
sphinx-autobuild
twine
numpy
