{%extends "base.html"%}
{%load plotly_dash%}

{%block title%}Demo Seven - Dash Bootstrap Components{%endblock%}

{%block content%}
<h1>Dash Bootstrap Components</h1>
<p>
  This example demonstrates the use of the dash-bootstrap-components package.
</p>
<div class="card bg-light border-dark">
  <div class="card-body">
    <p><span>{</span>% load plotly_dash %}</p>
    <p>&lt;div class="container"></p>
    <p>&lt;div class="row"> &lt;div class="col-sm-6"></p>
    <p class="ml-2">&lt;div class="<span>{</span>% plotly_class name="BootstrapApplication"%}"></p>
    <p class="ml-3"><span>{</span>% plotly_app_bootstrap name="BootstrapApplication" aspect="21by9" %}</p>
    <p class="ml-2">&lt;\div></p>
    <p>&lt;\div> &lt;\div></p>
  </div>
</div>
<p></p>
<div class="card border-dark">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="{%plotly_class name="BootstrapApplication"%}">
            {%plotly_app_bootstrap name="BootstrapApplication" aspect="21by9" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock%}
