{%extends "base.html"%}
{%load plotly_dash%}

{%block title%}Demo Three - Additional Callback Functionality{%endblock%}

{%block content%}
<h1>Enhanced Callback Functionality</h1>
<p>
</p>
<div class="card bg-light border-dark">
  <div class="card-body">
    <p><span>{</span>% load plotly_dash %}</p>
    <p><span>{</span>% plotly_app name="Ex2" ratio=0.15 %}</p>
    <p><span>{</span>% plotly_app slug="ex2-3" ratio=0.15 %}</p>
  </div>
</div>
<p>
</p>
<div class="card border-dark">
  <div class="card-body">
    {%plotly_app name="Ex2" ratio=0.15 %}
  </div>
</div>
<p>
</p>
<div class="card border-dark">
  <div class="card-body">
    {%plotly_app slug="ex2-3" ratio=0.15 %}
  </div>
</div>
{%endblock%}
