<!DOCTYPE HTML>
<html>
{%load staticfiles%}
{%load plotly_dash%}
<title>Simple stuff</title>
<body>
  <div>
    Content here
    {%plotly_app slug="simpleexample-1" ratio=0.2 %}
  </div>
  <div>
    Content here
    {%plotly_app name="SimpleExample"%}
  </div>
  <div>
    Content here
    {%plotly_app name="Ex2"%}
  </div>
</body>
<script src="{%static "channels/js/websocketbridge.js"%}"></script>
<script>
  const wsb = new channels.WebSocketBridge();
  wsb.connect("/ws/channel");
  wsb.listen(function(action, stream) {
    console.log("WSB inbound");
    console.log(action);
    console.log(stream);
  });
</script>
</html>
